node-red/flows.json
[{"id":"ae431f1d.46f048","type":"tab","label":"Notifications","disabled":false,"info":""},{"id":"81e9099a.4654d","type":"tab","label":"Media state","disabled":true,"info":""},{"id":"db0a155b.bd0908","type":"server","z":"","name":"Home Assistant"},{"id":"5651af9c.080f58","type":"server-state-changed","z":"ae431f1d.46f048","name":"Front-door","server":"db0a155b.bd0908","entityidfilter":"binary_sensor.front_door","entityidfiltertype":"substring","haltifstate":"","outputinitially":false,"x":100,"y":140,"wires":[["3d1380e2.26a1e"]]},{"id":"323627e4.d3fa48","type":"api-call-service","z":"ae431f1d.46f048","name":"Send notification","server":"db0a155b.bd0908","service_domain":"notify","service":"matrix_notify","data":"{   \"message\": \"Front-door has been open for a while now, is this right?\" }","mergecontext":"","x":770,"y":140,"wires":[[]]},{"id":"3d1380e2.26a1e","type":"switch","z":"ae431f1d.46f048","name":"Check state","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":140,"wires":[["331963b4.37ac0c"],["bdc2e570.4b6e98"]]},{"id":"bdc2e570.4b6e98","type":"change","z":"ae431f1d.46f048","name":"RESET","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":180,"wires":[["331963b4.37ac0c"]]},{"id":"331963b4.37ac0c","type":"delay","z":"ae431f1d.46f048","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":80,"wires":[["323627e4.d3fa48"]]}]
